#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  background-color: #000;
  color: #fff;
  padding: 4px 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
input {
  padding: 7px 7px;
  border-radius: 5px;
  border: 1px solid #000;
}

.add-book {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}